@import "tailwindcss";

:root {
  --off-white: #f8f7f2;
  --dark-blue: #17324d;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  font: 16px/145% var(--sans);
  color: #000;
  background: var(--off-white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--sans);
  background: var(--off-white);
}

button,
input,
select {
  font: inherit;
}

#root {
  /* width: 1126px; */
  max-width: 100%;
  margin: 0 auto;
  border-inline: 1px solid #d6d3c8;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

p {
  margin: 0;
}
